.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
  color: #FFF;
  font-family: 'Manrope', sans-serif;
  
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  position: relative;
  align-items: center;
}

.wallet {
  border-radius: 68px;
  padding: 12px 20px;
  background: linear-gradient(145deg, #653232, #783c3c);
  box-shadow:  31px 31px 63px #5e2f2f,
               -31px -31px 63px #824141;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  
}

.header {
    width: 100%;
    font-weight: 700;
    font-size: 42px;
    letter-spacing: 1px;
    line-height: 1.2em;
    text-align: center;
    margin: 0;
}

.bio {
  text-align: center;
  color: #c7c7c7;
  margin-top: 16px;
}

.prompt-container {
    place-content: flex-end center;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 16px;
    height: min-content;
    padding: 0px;
    width: min-content;
}

.prompt-box {
    border-bottom-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    place-content: flex-start;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 10px;
    height: 150px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 610px;
    max-width: 1200px;
    will-change: transform;
    overflow: auto;
    outline: none;
    resize: none;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 1.6em;
    text-align: start;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    text-transform: none;
}

textarea {
    font-family: 'Manrope', sans-serif;
}


.prompt-box:focus {
    border-color:rgba(255, 255, 255, 0.75)
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px; 
}

